.tab-bar {
  margin-bottom: 30px;
}

.tab-bar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.tab-bar a,
.tab-bar a:visited {
  color: #c6bcb3;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 16px 0;
  margin: 0 20px 0 0;
  cursor: pointer;
}

.tab-bar a.active {
  color: #33312f;
  border-bottom: 1px solid #c6bcb3;
}

.tab-bar a.default {
  text-decoration: none;
}
